{% extends "base.twig" %}
{% block title %} Inicio {% endblock %}
{% block head %}{{parent()}}
<link rel="stylesheet" type="text/css" href="./css/inicio.css?id={{random()}}"> 
{% set img = random(5)  %}
<style type="text/css">
	#inicio {
		background: url('./images/fondos/{{img}}.jpg');
		/*background-position: center -10%;*/
	    background-size: cover;
	    width: 100%;
	    max-width: 100%;
	    max-height: 100%;
	    height: 100%;
	    background-repeat: no-repeat;
	    /* background-position: 0px 0px; 
	    /* background-attachment: fixed;*/
	}
	@media (min-width: 720px) {
/*		#inicio {
			background-position: 50% -32%;
		}    */	
	}
	@media (min-width: 1440px) {
/*		#inicio {
			background-position: 50% -10%;
		}  */
	}
</style>
{% endblock %}
{% block content %}
<section id="inicio" for="inicio">
	{% include 'includes/header.twig' %}
	<div class="container">
		<div class="row justify-content-md-center">
			<div id="card-principal" class="card text-center fondo_none col-sm-6">
			  <div class="card-header fondo_none">
			    <div id="logo-body" class="logo-body animate-bottom d-none d-sm-block">
					<img src="./images/ancaor/logo_ancaor(128x128).png" alt="Ancaor Logo">
				</div>
				<!-- <a href="#section-about" class="btn-normal btn-inicio txt-about"> Sobre Ancaor </a> -->
			  </div>
			  <div id="card-body-anc" class="card-body">
			    <h4 class="card-title">Frase aleatoria: </h4>
			    <p class="text-general card-text">
					"<span id="text-frase">{{ datos['frase'] }}</span>"
			    </p>
			    <button id="change_phrase" type="button" class="btn btn-raised btn-info btn btn-danger">Cambiar frase</button>
			  </div>
			  <div class="card-footer text-muted">
			    <a id="cont-icon" href="#section-about"><i id="icon-down" class="icon-down-open"></i></a>
			  </div>
			</div>
		</div>
	</div>
</section>
<section class="section" id="section-about" for="inicio">
	<div class="container">
		<div class="row" style="display: flex;justify-content: center;align-items: center;">
			<div class="img-mark col-md-3">
				<img src="./images/svg/question-mark.svg" alt="">
			</div>
			<div class="col-md-9">
				<div id="card-about"  class="card w-100 fondo_none">
					<div class="card-header fondo_none" style="text-align:center;color:white;">
							<h4 class="card-title">¿Qué es Ancaor?</h4>
			  		</div>
					<div id="card-body-about" class="card-body">				    
					    <p class="txt-parrafo">Ancaor en resumen son las iniciales de mi nombre y apellidos lo cual significa que son representación mia  Anthony Cajacuri Ordoñez , decidí crear dos áreas que representan las cosas que me gustan como la programación y dibujar, estas son LunarCode Dev y Lykrune Art respectivamente.</p>
						<p class="txt-parrafo">En lo personal considero no tener mucho talento para ambas cosas, pero pongo todo mi esfuerzo en aprenderlas, como motivación usa la frase “El trabajo duro supera al talento cuando el talento no trabaja duro” de Ben Lehner.</p>
						<p class="txt-parrafo">
					Si te interesa saber sobre mis habilidades y mas detalles personales dale a mas información,  si deseas saber sobre mis trabajos de arte, diseño ve a la sección lykrune y si deseas saber sobre mis trabajos de programación ve a la sección LunarCode. <br>
					Sin más que decir , bienvenido a mi mundo. <br> <br>
					<!-- Si tienes alguna consulta dale <a class="btn-normal btn-blue" target="__blank" href="contacto">clic aquí</a> -->
					</p> 
				    <!-- <a href="#" class="btn btn-primary">Button</a> -->
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section" id="section-lykrune"> 
	<div class="content">
		<h1  id="txt-title" class="txt-title">Lykrune Art</h1>
		<div class="space">
			<hr>
		</div>
		<p class="txt-parrafo">
			Lykrune Art es el área encargada del diseño y arte.
		</p>
		<p class="txt-parrafo">
			<a class="btn btn-raised btn-info btn btn-danger" target="__blank" href="http://lykrune.ml">Mas Información</a>
		</p>
	</div>
</section>

<section class="section" id="section-lunarcode">	
	<h1 class="t-lykrune">LunarCode</h1>
	<div class="space">
		<hr>
	</div>
	<p class="txt-parrafo">
			LunarCode Dev es el área encargada de la programación.
		</p>
		<p class="txt-parrafo">
			Esta zona aún esta en desarrollo
		</p>
</section>

{% endblock %}

{% block postfooter %}
{% endblock %}
