	<div class="inicio-cabecera">
		<select id="change_theme" >
			<option value="0">Cambiar Tema</option>
			<option value="1">Normal</option>
			<option value="2">White</option>
			<option value="3">Sky</option>
		</select>
		<h3 class="txt-cbc"> Ancaor </h3>
		<p class="txtsub-cbc">"Ama lo que haces"</p>
	</div>
	<div class="navegacion"  id="cbc" >
		<div class="li-ancaor">
			<a href="#inicio" > Inicio <img src="/images/ancaor/logo_ancaor(32x32).png" alt="Ancaor Logo"></a>
		</div>
		<nav class="inicio-nav">
			<ul>
				<li class="none"><a class="normal" href="#inicio">Inicio</a></li>
				<li class="none"><a class="normal" href="#section-about"> Ancaor </a></li>
				<li class="none"><a class="normal" href="#section-lykrune"> Lykrune </a></li>
				<li class="none"><a class="normal" href="#section-lunarcode"> LunarCode </a></li>
			</ul>
		</nav>
	</div>